<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Files</title>
</head>
<body>
    <h1>Welcome, {{ username }}</h1>
    <h2>Uploaded Videos:</h2>
    <ul>
        {% for file in files %}
            <li>
                <a href="{{ url_for('view_media', filename=file.filename) }}">{{ file.filename }}</a> 
                (Uploaded by: {{ file.uploaded_by }})
            </li>
        {% endfor %}
    </ul>
    <br>
    <a href="http://localhost:8080/upload">
        <button>Upload More Videos</button>
    </a>

    <br><br>
    <a href="http://localhost:5000/logout"><button>Logout</button></a>
</body>
</html>
